<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="uploadPath" value="C:\Users\User\OneDrive\Desktop"></add>
		<add key="uploadCsv" value="C:\Users\User\OneDrive\Desktop\CSV\"></add>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint name="XmlSending"
					  address="net.tcp://localhost:9009/ServiceFileHandling"
					  binding="netTcpBinding"
					  contract="Common.Interfaces.IFileHandling" />
		</client>
		
	</system.serviceModel>
</configuration>
